# OpenCV for computer vision tasks
opencv-python-headless==4.10.0.84
opencv-contrib-python==4.10.0.84
# Numpy for numerical computations
numpy==1.26.4
# YOLO for object detection tasks
ultralytics==8.3.48
# PyQt5 for GUI
PyQt5==5.15.11
